<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Love letter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CCF6CD9E1F232FFE56D7C508AB6003F05BC1E237</string>
				<key>dateExpires</key>
				<string>2024/05/02</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JB63VVN2W3.Blifeinc.com.Love-letter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JB63VVN2W3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Love letter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5b51df21-9989-4b60-b5b0-33330b659a16</string>
				<key>dateExpires</key>
				<string>2024/06/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JB63VVN2W3</string>
				<key>name</key>
				<string>BLife</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
